{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Maribra Coffee{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font/dist/font-face.css" rel="stylesheet">
<style>
    body, input, button, a, label {
        font-family: 'Vazir', sans-serif !important;
    }
</style>

</head>

<body>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-4">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'images/brand_label.png' %}"
                alt="Mariba Logo"
                width="100"
                height="100"
                class="me-2">
            Mariba Coffee | قهوه ماریبا
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">
                        منو محصولات
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category-list' %}">
                        دسته‌بندی‌ها
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'discount-list' %}">
                        تخفیف‌ها
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'table_list' %}">
                        میزها
                    </a>
                </li>
            </ul>

        </div>

        <div>
        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'user_register' %}">
           <img src="{% static 'images/nav_access/3.png' %}"
                 alt="User Logo"
                 width="40"
                 height="40"
                 class="me-2 rounded-circle">
        </a>
        </div>

        <div>
        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'order-list' %}">
           <img src="{% static 'images/nav_access/22.png' %}"
                 alt="cart Logo"
                 width="30"
                 height="30"
                 class="me-3">
        </a>
        </div>


         <div>
        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'category-list' %}">
           <img src="{% static 'images/nav_access/333.png' %}"
                 alt="comment Logo"
                 width="30"
                 height="30"
                 class="me-3">
        </a>
        </div>


                 <div>
        <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'list_working_shifts' %}">
           <img src="{% static 'images/nav_access/444.png' %}"
                 alt="clock Logo"
                 width="30"
                 height="30"
                 class="me-3">
        </a>
        </div>

    </div>
</nav>

<!-- Main Content -->
<div class="container-fluid p-0">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>



{% load static %}

<div class="music-player">
    <img id="cover" src="{% static 'images/music_img' %}" class="cover" alt="">

    <audio id="audio" autoplay >
        <source id="audio-source" src="{% static 'music' %}" type="audio/mpeg">
    </audio>

    <div class="music-info">
        <h3 id="musicTitle">Title</h3>
        <p id="musicArtist">Artist</p>
    </div>

    <div class="controls">
        <button onclick="prevSong()">|◁</button>
        <button onclick="togglePlay()" id="playBtn">▷</button>
        <button onclick="nextSong()">▷|</button>
    </div>


</div>


<script>const title = document.getElementById("musicTitle");
const artist = document.getElementById("musicArtist");

const songs = [
    {
        title: "Tiramisu",
        artist: "Don Toliver",
        src: "{% static 'music/Don Toliver - Tiramisu.mp3' %}",
        cover: "{% static 'images/music_img/1.jpg' %}"
    },

    {
        title: "no pole",
        artist: "Don Toliver",
        src: "{% static 'music/Don Toliver - No Pole.mp3' %}",
        cover: "{% static 'images/music_img/2.jpg' %}"    ,

    }
];

let currentSong = 1;

const audio = document.getElementById("audio");
const source = document.getElementById("audio-source");
const cover = document.getElementById("cover");
const playBtn = document.getElementById("playBtn");

function loadSong(index) {
    source.src = songs[index].src;
    cover.src = songs[index].cover;
    title.textContent = songs[index].title;
    artist.textContent = songs[index].artist;
    audio.load();
}



function togglePlay() {
    if (audio.paused) {
        audio.play();
        playBtn.innerText = "❚❚";
    } else {
        audio.pause();
        playBtn.innerText = "▷";
    }
}

function nextSong() {
    currentSong = (currentSong + 1) % songs.length;
    loadSong(currentSong);
    audio.play();
}

function prevSong() {
    currentSong = (currentSong - 1 + songs.length) % songs.length;
    loadSong(currentSong);
    audio.play();
}
</script>

